<div class="container">
    @ViewBag.key
    <br />
    @ViewBag.Apikey
    <br />
    @ViewBag.WeatherApiKey
    <br />
    @ViewBag.WeatherApiSecrectKey
</div>

<div class="list-container">
    <ul class="list">
        <li>@ViewBag.WeatherApiKey3</li>
        <li>@ViewBag.WeatherApiSecrectKey3</li>
    </ul>
</div>